<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="LogDirectoryPath" value="F:\logs" />
		<add key="LogOutputPath" value="F:\中厚板二级\HM101PDOPARSELOG\" />
	</appSettings>
</configuration>