<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="LogDirectoryPath_HM101" value="F:\logs\HM101LOGS" />
		<add key="LogDirectoryPath_HM102" value="F:\logs\HM102LOGS" />
		<add key="LogOutputPath" value="F:\中厚板二级\HM101PDOPARSELOG\" />
		<!-- //初始化时间，解析ProcessStartTime时间之后的PDO -->
		<add key="ProcessStartTime" value="2025-08-01 00:00:00" />
	</appSettings>
</configuration>